<!-- lesson_detail.html -->
{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3" style="border-right: 1px solid #eee;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'course_detail' lesson.unit.course.id %}">{{ lesson.unit.course.title }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'unit_detail' lesson.unit.course.id lesson.unit.id %}">{{ lesson.unit.title }}</a>
                </li>
            </ol>
        </nav>
        
        <div class="list-group">
            {% for unit_lesson in lesson.unit.lessons.all %}
                <a href="{% url 'lesson_detail' lesson.unit.course.id lesson.unit.id unit_lesson.id %}" 
                   class="list-group-item {% if unit_lesson.id == lesson.id %}active{% endif %}">
                    {{ unit_lesson.title }}
                </a>
            {% endfor %}
        </div>
    </div>
   
   <div class="col-md-9" id="lesson-content">
       <h1>{{ lesson.title }}</h1>
       {{ lesson.content|safe }}
       {% if lesson.video_url %}
       <div class="mt-4">
           <iframe width="100%" height="400" src="{{ lesson.video_url }}" frameborder="0" allowfullscreen></iframe>
       </div>
       {% endif %}
   </div>
</div>

<script>
$(document).ready(function() {
   $('.lesson-link').click(function(e) {
       e.preventDefault();
       var courseId = '{{ lesson.course.id }}';
       var lessonId = $(this).data('lesson-id');
       
       $.get(`/courses/${courseId}/lesson/${lessonId}/content/`, function(data) {
           $('#lesson-content').html(data);
           $('.lesson-link').removeClass('active').css('background-color', '');
           $(e.target).addClass('active').css('background-color', '#e9ecef');
       });
   });
});
</script>
{% endblock %}