<!-- courses/unit_detail.html -->
{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'course_detail' unit.course.id %}">{{ unit.course.title }}</a>
            </li>
            <li class="breadcrumb-item active">{{ unit.title }}</li>
        </ol>
    </nav>

    <h2 class="mb-4">{{ unit.title }}</h2>
    <div class="list-group">
        {% for lesson in unit.lessons.all %}
            <a href="{% url 'lesson_detail' unit.course.id unit.id lesson.id %}" class="list-group-item list-group-item-action">
                {{ lesson.title }}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
